.ipynb_checkpoints
*.pyc
*.pyo
__pycache__/
*.log
out.*

update.sh
compare_mechanism/Figures/*

diversity/__pycache__/*
diversity/plots/*
diversity/result/*
diversity/run/*
diversity/scripts/*
diversity/*.sh

quota/__pycache__/*
quota/plots/*
quota/result/*
quota/run/*
quota/scripts/*
quota/*.sh

fairness/__pycache__/*
fairness/plots/*
fairness/result/*
fairness/run/*
fairness/scripts/*
fairness/*.sh

learnable_preferences/__pycache__/*
learnable_preferences/preference/result/*
learnable_preferences/preference/T*.sh
learnable_preferences/plots/*
learnable_preferences/result/*
learnable_preferences/run/*
learnable_preferences/scripts/*
learnable_preferences/*.sh

survey/__pycache__/*
survey/Survey/*
survey/Data/*
survey/Results/*
