.idea
.ipynb_checkpoints
*.pyc
*.pyo
__pycache__/
*.log
out.*

diversity/__pycache__/*
diversity/plots/*
diversity/result/*
diversity/run/*
diversity/scripts/*
diversity/1x2-mv.csv
diversity/1x2-pv.csv
diversity/T*.sh

fairness/__pycache__/*
fairness/plots/*
fairness/result/*
fairness/run/*
fairness/scripts/*
fairness/1x2-mv.csv
fairness/1x2-pv.csv
fairness/T*.sh